html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
   
}
.content {
    flex: 1;
}
.upload-btn {
    display: flex;
    margin: 40px auto;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
  }
.navbar{
    display: flex;
    padding:10px,40px;
    align-items:center;
    text-align: center;
    letter-spacing: 3px;
    justify-content:space-between ;
    background-color: white;
    box-shadow: 0px,2px,5px;
    gap: 10px;
}
.logo {
    display: flex;
    align-items: center;
  }
.logo img {
    height: 50px;
    margin-left: 40px;
  }
.logo-text {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
  }

.main-gallary{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.card{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.cardimg{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3 ease;

}
.card:hoverimg{
    transform: scale(1.03);
}
.menu{
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
    
}
.menu a{
    text-decoration:none;
    color: black;

}
.menu a:hover
{
    color: green;

}
.buttons
{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 40px;
}
.btn{
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;

}
.signin
{
    background: transparent;
    border: 1px solid #ccc;

}
.signup{
    background: green;
    color: white;
    font-weight: bold;
}
footer{
    background-color: rgb(111, 114, 116);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
    margin-top: 1rem;
}
.Icons{
    margin: 1px;
    text-size-adjust: 1rem;
    text-decoration: none;
    color:rgb(0, 0, 0) ;
}
